In [45]:
try:
    import pandas as pd
    
except:
    Exception("Import failed")

In [75]:
# Movie from the dataframe. 
#Example: Dracula: Dead and Loving It (1995)
movie_name = input("Enter the movie name: ")

movies = pd.read_csv('movies.csv')
ratings = pd.read_csv('ratings.csv')

#Merging the two dataframes based on 'movieId'
data = pd.merge(movies, ratings, on='movieId', how='inner')

#Rounding the mean of the ratings to 5 decimal places
ratings = pd.DataFrame(round(data.groupby('title')['rating'].mean(), 5))

#Creating a new coloumn for number of ratings
ratings['num of ratings'] = pd.DataFrame(data.groupby('title')['rating'].count())

ratings.head(10)

                                          rating  num of ratings
title
'71 (2014)                               3.50000               1
'Hellboy': The Seeds of Creation (2004)  3.00000               1
'Round Midnight (1986)                   2.50000               1
'Til There Was You (1997)                4.00000               3
'burbs, The (1989)                       3.12500              20
'night Mother (1986)                     3.00000               1
(500) Days of Summer (2009)              3.93243              37
*batteries not included (1987)           3.31818              11
...And Justice for All (1979)            3.65000              10
10 (1979)                                2.00000               3

In [ ]:
joined = data.pivot_table(index ='userId', columns ='title', values ='rating')

user_ratings = joined[f'{movie_name}']

corr = joined.corrwith(user_ratings)

In [77]:
corr.head(10)

'71 (2014)                                      NaN
'Hellboy': The Seeds of Creation (2004)         NaN
'Round Midnight (1986)                          NaN
'Til There Was You (1997)                       NaN
'burbs, The (1989)                              NaN
'night Mother (1986)                            NaN
(500) Days of Summer (2009)                0.240192
*batteries not included (1987)                  NaN
...And Justice for All (1979)              0.866025
10 (1979)                                       NaN
dtype: float64

In [78]:
CORR = pd.DataFrame(corr, columns =['Correlation'])
CORR.dropna(inplace = True)


related = CORR.join(ratings['num of ratings'])

# Get movies with more than 100 ratings
result = related[related['num of ratings']>100].sort_values('Correlation', ascending = False).head(10)

# result.head(40)


print(f"You liked {movie_name}, so you might also like: \n")



# Printing out 10 of the highest correlated movies
for i in range(10):
    print(f"{result.index[-i-1]}\n")

You liked Dracula: Dead and Loving It (1995), so you might also like:

Monty Python's Life of Brian (1979)

Monsters, Inc. (2001)

Stargate (1994)

Total Recall (1990)

Dark Knight, The (2008)

Truman Show, The (1998)

Net, The (1995)

Star Trek: Generations (1994)

Monty Python and the Holy Grail (1975)

Beautiful Mind, A (2001)